<a href="https://colab.research.google.com/github/Amarjeet-1998/Python_101/blob/main/Python_exercise_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For this exercise

* Write a function (
guessing_game
) that takes no arguments.

* When run, the function chooses a random integer between 0 and 100 (inclusive).

* Then ask the user to guess what number has been chosen.

* Each time the user enters a guess, the program indicates one of the following:
– Too high
– Too low
– Just right

* If the user guesses correctly, the program exits. Otherwise, the user is asked to
try again.

* The program only exits after the user guesses correctly

In [ ]:
import random
number = random.randint(10,30)

In [ ]:
number

22

In [ ]:
name = input ('Enter your name: ')
print(f'Hello, {name} !')

Enter your name: Amarjeet
Hello, Amarjeet !

In [ ]:
import random

def guessing_game():
  answer = random.randint(0,100)

  while True:
    user_guess = int(input('what is your guess? '))

    if user_guess == answer:
      print(f'Right! This answer is {user_guess}')
      break

    if user_guess < answer:
      print(f'Your guess of {user_guess} is too low!')

    else:
      print(f'Your guess of {user_guess} is too high!')

guessing_game()

what is your guess? 25
Your guess of 25 is too low!
what is your guess? 69
Your guess of 69 is too high!
what is your guess? 45
Your guess of 45 is too high!
what is your guess? 36
Your guess of 36 is too low!
what is your guess? 41
Your guess of 41 is too high!
what is your guess? 38
Your guess of 38 is too high!
what is your guess? 37
Right! This answer is 37

In [ ]:
name = 'world'
f'Hello, {name}'

'Hello, world'

In [ ]:
def mysum(*numbers):
  output = 0
  for number in numbers:
    output += number

  return output

print(mysum(10,20,30,40))

100

In [ ]:
try:
  n = float(input('Enter a number: '))
  print(f'n={n}')

except ValueError as e:
  print("Hey! That's not a valid number!")

Enter a number: amar
Hey! That's not a valid number!

In [ ]:
def run_timing():
  """ Ask the user repeatedly for numeric input. prints the average time and number of runs.
  """

  number_of_runs = 0
  total_time = 0

  while True:
    one_run = input('Enter 10 km run time: ')

    if not one_run:
      break

      number_of_runs += 1
      total_time += float(one_run)

  average_time = total_time / number_of_runs
  print(f'Average of {average_time}, over {number_of_runs} runs')

run_timing()

Enter 10 km run time: 25
Enter 10 km run time: 25
Enter 10 km run time: 25
Enter 10 km run time:

ZeroDivisionError: ignored

In [ ]:
for index, one_letter in enumerate('abcd'):
  print(f'{index}: {one_letter}')

0: a
1: b
2: c
3: d

In [ ]:
def hex_output():
  decnum = 0
  hexnum = input('Enter a hex number to convert: ')
  for power, digit in enumerate (reversed(hexnum)):
    decnum += int(digit, 16) * (16 ** power)

  print(decnum)

hex_output()

Enter a hex number to convert: 34567788
878081928

# Strings

In [ ]:
def latin(word):
  if word[0] in 'aeiou':
    return f'{word}way'

  return f'{word[1:]}{word[0]}ay'

print(latin('python'))

ythonpay

In [ ]:
def pl_sentence(sentence):
  output = []
  for word in sentence.split():
    if word[0] in 'aeiou':
      output.append(f'{word}way')
    else:
      output.append(f'{word[1:]}{word[0]}ay')
    
  return ' '.join(output)

print(pl_sentence('this is a test'))

histay isway away esttay

In [ ]:
def ubbi_dubbi(word):
  output = []

  for letter in word:
    if letter in 'aeiou':
      output.append(f'ub{letter}')
    else:
      output.append(letter)

  return ''.join(output)

print(ubbi_dubbi('python'))

pythubon

In [ ]:
def strsort(a_string):
  return ''.join(sorted(a_string))

print(strsort('cbjeaf'))

abcefj

# Lists and tuples

In [ ]:
mylist = [10,20,30,40,50]

first = mylist[1:3]
last = mylist[3:5]

In [ ]:
first

[20, 30]

In [ ]:
last

[40, 50]

In [ ]:
t = (10,20,30,40,50)

first = t[1:3]
last = t[3:5]

In [ ]:
first

(20, 30)

In [ ]:
last

(40, 50)

In [ ]:
def firstlast (sequence):
  return sequence[0] + sequence[-1]

t1 = ('a','b','c')
output1 = firstlast(t1)
print(output1)

ac

In [ ]:
t2 = (1,2,3,4)

output2 = firstlast(t2)
print(output2)

5

In [ ]:
import sys
mylist = []
for i in range(25):
  l = len(mylist)
  s = sys.getsizeof(mylist)
  print(f'len = {l}, size = {s}')
  mylist.append(i)

len = 0, size = 72
len = 1, size = 104
len = 2, size = 104
len = 3, size = 104
len = 4, size = 104
len = 5, size = 136
len = 6, size = 136
len = 7, size = 136
len = 8, size = 136
len = 9, size = 200
len = 10, size = 200
len = 11, size = 200
len = 12, size = 200
len = 13, size = 200
len = 14, size = 200
len = 15, size = 200
len = 16, size = 200
len = 17, size = 272
len = 18, size = 272
len = 19, size = 272
len = 20, size = 272
len = 21, size = 272
len = 22, size = 272
len = 23, size = 272
len = 24, size = 272

In [ ]:
def mysum(*items):
  if not items:
    return items
  output = items[0]
  for item in items[1:]:
    output += item
  
  return output

print(mysum(10,20,30,40))

100

In [ ]:
def mysum(*items):
  if not items:
    return items
  output = items[0]

  for item in items[1:]:
    output += item

  return output

print(mysum())
print(mysum(10,20,30,40,50))
print(mysum('a','b','c','d'))
print(mysum([10,20,30],[40,50,60], [70,80]))

()
150
abcd
[10, 20, 30, 40, 50, 60, 70, 80]

In [ ]:
import operator
people = [{'first':'Reuven','last':'Learner',
           'email':'reuven@learner,co,il'},
          {'first': 'Donald','last':'Trump',
           'email':'president@ksd.hi'},
          {'first':'Amar','last':'kumar',
           'email':'president@ksd.hi'}
          ]

def alphabetize_name(list_of_dicts):
  return sorted(list_of_dicts,
                key = operator.itemgetter('last','first'))
  
print(alphabetize_name(people))

[{'first': 'Reuven', 'last': 'Learner', 'email': 'reuven@learner,co,il'}, {'first': 'Donald', 'last': 'Trump', 'email': 'president@ksd.hi'}, {'first': 'Amar', 'last': 'kumar', 'email': 'president@ksd.hi'}]

In [ ]:
import operator
PEOPLE = [('Donald', 'Trump', 7.85),
('Vladimir', 'Putin', 3.626),
('Jinping', 'Xi', 10.603)]

def format_sort_records(list_of_tuples):
  output = []
  template = '{1:10} {0:10} {2:5.2f}'
  for person in sorted(list_of_tuples,
                       key=operator.itemgetter(1,0)):
    
    output.append(template.format(*person))
  return output

print('\n'.join(format_sort_records(PEOPLE)))

Putin      Vladimir    3.63
Trump      Donald      7.85
Xi         Jinping    10.60

In [ ]:
#Defines a constant dict with item names (strings) and prices(integer)
MENU = {'sandwich': 10, 'tea': 7,'salad':9}

#Keeps asking the user for input, until an explicit "break" from the loop
def restaurant():
  total = 0
  while True:
    order = input('Order: ').strip()       #Gets the user's input, and uses str.strip to remove leading and trailing whitespace

    if not order:                      #if 'order' is an empty string,break out of the loop.
      break

    if order in MENU:                 # if "order" is a defined menu item, then get its price and add to total
      price = MENU[order]
      total += price
      print(f'{order} is {price}, total is {total}')

    else:                                          # if "order" is neither empty nor in the dict, then we don't serve this item.
      print(f'We are fresh out of {order} today')
  
  
  print(f'Your total is {total}')

restaurant()

Order: tea
tea is 7, total is 7
Order: sandwich
sandwich is 10, total is 17
Order: salad
salad is 9, total is 26
Order:
Your total is 26

In [ ]:
def get_rainfall():
  rainfall = {}

  while True:
    city_name = input('Enter city name: ')
    if not city_name:
      break

    mm_rain = input('Enter mm rain: ')
    rainfall[city_name] = rainfall.get(city_name,0) + int(mm_rain)

  for city,rain in rainfall.items():
    print(f'{city} : {rain}')

get_rainfall()

Enter city name: boston
Enter mm rain: 12
Enter city name: New York
Enter mm rain: 10
Enter city name: alaska
Enter mm rain: 28
Enter city name: wisconsin
Enter mm rain: 14
Enter city name:
boston : 12
New York : 10
alaska : 28
wisconsin : 14

In [ ]:
def dicdiff(first, second):
  output = {}
  all_keys = first.keys() | second.keys()


  for key in all_keys:
    if first.get(key) != second.get(key):
      output[key] = [first.get(key), second.get(key)]

  return output

d1 = {'a': 1,'b':2,'c': 3}
d2 = {'a':1,'b':2,'c':4}

print(dicdiff(d1,d2))

{'c': [3, 4]}

In [ ]:
def how_many_different_numbers(numbers):
  unique_numbers = set(numbers)
  return len(unique_numbers)

print(how_many_different_numbers([1,2,3,4,5,6,75,7,5,4,63,6,3,3]))

9

f = open(filename)

f = open(openfile, 'r')

In [ ]:
''' for current_line in f:
    print(current_line)'''

''' for current_line in open(filename):
      print(current_line)'''

""" with open(filename) as f:
      for one_line in f:
        print(len(one_line))"""

' with open(filename) as f:\n      for one_line in f:\n        print(len(one_line))'

In [ ]:
'''def get_final_line(filename):
  final_line = ''
  for current_line in open(filename):
    final_line = current_line
  return final_line

print(get_final_line('/etc/password'))'''

"def get_final_line(filename):\n  final_line = ''\n  for current_line in open(filename):\n    final_line = current_line\n  return final_line\n\nprint(get_final_line('/etc/password'))"

In [ ]:
x = 100

def foo():
  x = 200
  print(x)

print(x)
foo()
print(x)

100
200
100

In [ ]:
def foo(x):
  def bar(y):
    return x * y
  return bar

f = foo(10)
print(f(20))

200

In [ ]:
def foo():
  call_counter = 0
  def bar (y):
    nonlocal call_counter
    call_counter += 1
    return (f'y = {y}, call_counter = {call_counter}')

  return bar

b = foo()
for i in range(10,100,10):
  print(b(i))

y = 10, call_counter = 1
y = 20, call_counter = 2
y = 30, call_counter = 3
y = 40, call_counter = 4
y = 50, call_counter = 5
y = 60, call_counter = 6
y = 70, call_counter = 7
y = 80, call_counter = 8
y = 90, call_counter = 9

In [1]:
def odd_even(a):
  even = []
  odd = []
  for i in a:
    if i % 2 == 0:
      even.append(i)
    if i % 2 != 0:
      odd.append(i)
  return max(even) - min(odd)
print(odd_even([1,2,3,4,6]))

5

In [2]:
def prime_numbers() -> list:
  prime_num = []
  n = int(input('Please enter a number (interger): '))
  # creating a range of the input number
  # remember to add a 1 and the end ensure
  # all numbers in the range are covered

  for i in range(0, n + 1):
    #only numbers above 1 are needed
    if i > 1:
      for j in range(2, i):
        #if a number in the range is divisible by j
        # then number is not prime
        if i % j == 0:
          break
        else:
          prime_num.append(i)

  return prime_num

print( prime_numbers())

Please enter a number (interger): 4
[3]

In [3]:
def biggest_odd(string1: str):
  odd_nums = [i for i in string1 if int(i) % 2 != 0]
  return (f'The biggest old number is {max(odd_nums)}')

print(biggest_odd('23569'))

The biggest old number is 9

In [4]:
def zeros_last(arr: list) -> list:
  i = 0
  arr1 = arr
  for num in arr:
    if num != 0:
      #moving non-zero numbers to the front of the list
      arr[i] = num
      i += 1

  #Moving zero elements to the end of the list
  while i < len(arr):
    arr[i] = 0
    i += 1
    return arr
  
  else:
    # if no zeros return original list in ascending order
    return sorted(arr1)

list1 = [1,4,6,0,7,0]
list2 = [2, 1, 4, 7, 6]

print(zeros_last(list1))
print(zeros_last(list2))

[1, 4, 6, 7, 0, 0]
[1, 2, 4, 6, 7]

In [6]:
# create password function
def your_password():
  password1 = input("Enter password")
  password = len(password) * ('*')
  return (f'You password is {password}' \
          f'and its {len(password) } characters long')
  
print(your_password())

Enter password123445

UnboundLocalError: ignored

In [7]:
def convert_numbers(n) :
  new_list= []
  for num in n:
    new_list.append("{:,}".format(num))
  return new_list

print(convert_numbers([1000000, 2547775, 3345667, 34668899]))

['1,000,000', '2,547,775', '3,345,667', '34,668,899']

In [8]:
def equal_strings(st1, st2):
  str1 = sorted(st1)
  str2 = sorted(st2)
  if str1 == str2:
    return True
  else:
    return False

print(equal_strings('love','evol'))

True

In [9]:
# swap values

def swap_values(arr: list):
  first_number = arr[0]
  last_number = arr[-1]

  arr[0] = last_number
  arr[-1] = first_number

  return arr

list1 = [2, 4, 67, 7]
print(swap_values(list1))

[7, 4, 67, 2]

In [10]:
def count_dots(word):
  m = word.split(".")
  return (f'The string has {len(m) - 1} dots')

print(count_dots("h.e.l.p."))

The string has 4 dots

In [13]:
from datetime import datetime

def your_age():
  while True:
    birth_year = input("Enter your year of birth: ")
    if len(birth_year) != 4:
      print('Please enter a four digits year')
    elif int(birth_year) < 1900 or int(birth_year) > 2022:
      print('Please enter a valid year')
    else:
      now1 = int(datetime.now().strftime("%Y"))
      age = (now1 - int(birth_year)) * 525600
      return (f'You are {age:,} minutes old.')
print(your_age())

Enter your year of birth: 1998
You are 13,140,000 minutes old.

In [14]:
def your_vat():
  while True:
    try:
      price = int(input("Enter the price of item: "))
      vat = int(input('Enter vat: '))
    except ValueError:
      print("Enter a valid number")
    else:
      total_price = price + \
                    (price * vat / 100 + 1)- 1
      return ('The price vat inclusive is', total_price)
print(your_vat())

Enter the price of item: 30
Enter vat: 5
('The price vat inclusive is', 31.5)

In [15]:
# pyramid of snakes

from emoji import emojize

def python_snakes(n: int):
  # the loop to determine the number of rows of the pyramid
  for i in range(0, n):
    # the loop that determines number of columns
    for j in range(n, i, -1):
      #print space between the snake signs
      print(end = " ")
    for k in range(0, i):
      # printing the snake emoji
      print(emojize(': snake:'), end = " ")

python_snakes(7)

ModuleNotFoundError: ignored

In [16]:
def convert_list(lst1: list):
  list1 = []
  for items in lst1:
    for i in items:
      list1.append(i)
  return list1

print(convert_list([[2, 4, 5, 6]]))

[2, 4, 5, 6]

In [18]:
def your_salary():
  name = input('Enter the name of the teachers: ')
  rate = int(input('Enter rate per period: '))
  period = int(input('Enter the number of periods taught: '))

  if period <= 100:
    gross_salary = rate * period
  else:
    gross_salary = (rate * 100)\
                    + ((period-100) * (rate + 5))
  return (f'Teacher: {name}, \nPeriods: '\
          f'{period} \n Gross salary: {gross_salary:, }')
print(your_salary())

Enter the name of the teachers: shiv
Enter rate per period: 10
Enter the number of periods taught: 5

ValueError: ignored

In [21]:
names_age ={"jane": 23, "kerry": 45, "tim": 34, "peter": 27}
def your_age():
  # Convert name to lowercase letters
  name = input("Please enter your name: ").lower()
 # Use for loop to iterate over the dictionary
  for key in names_age.keys():
    if key == name:
 # use the get method to access a specific value.
      return (f'Hi, {name}! You are {names_age.get(key)} years old')
  else:
 # if name not in the dictionary
    while name not in names_age.keys():
      age = input("Your name is not in the dictionary, "
                    "please enter your age? ").lower()
 # Update the dictionary with name and age.
      names_age.update({name: age})
      return f'Hi, {name}! You are {names_age.get(name)} years old'
print(your_age())

Please enter your name: amar
Your name is not in the dictionary, please enter your age? 23
Hi, amar! You are 23 years old

In [22]:
def sum_list(lst1: list):
  counta = 0
  for items in lst1:
    for i in items:
      counta += 1
  return ('The sum is ', counta)

print(sum_list([[2, 4, 5, 6], [2, 3, 5, 6]]))

('The sum is ', 8)

In [23]:
import random

num = random.randint(0, 10)

def user_name():
  name = input('Enter name: ')
  name = name[::-1]
  username = name + str(num)
  return username
print(user_name())

Enter name: ashakl
lkahsa4

In [24]:
def sort_length(arr: list):
  for item in range(len(arr)):
    for j in range(len(arr) - 1):
      # check if any of the words is longer than the other
      if len(arr[j]) > len(arr[j + 1]):
        # swap the longest for the shortest
        arr[j], arr[j + 1] = arr[j + 1], arr[j]
  return arr

names = ['Peter', 'Jon','Andrew']

In [25]:
print(sort_length(names))

['Jon', 'Peter', 'Andrew']

In [27]:
def any_num(*args):
  ave = sum(args)/ len(args)
  return (f'The average is {ave}')

print(any_num(12, 90,35,244,344,56))

The average is 130.16666666666666

In [28]:
def add_reverse(n: list, k:list):
  #creating an empty list
  new_list = []
  if len(n) == len(k):
    for i in range(0, len(n)):
      #adding and appending corresponding numbers
      new_list.append(n[i] + k[i])
      #reversing new list
      new_list.reverse()
    return new_list
  else:
    return (f'Lists have different lengths')

# Lists to add and reverse
list1 = [10, 12, 34]
list2 = [12, 56, 78]

print(add_reverse(list1, list2))

[112, 22, 68]

In [31]:
# split

def count_words(arr: str):
  words = []
  for word in arr.split():
    words.append(word)
    print(words)
  return (f'There are {len(words)} '\
          f'words in the sentence')

print(count_words('I love Learning'))

['I']
['I', 'love']
['I', 'love', 'Learning']
There are 3 words in the sentence

In [34]:
def count_characters(a):
  a = a.replace(' ', '')
  return (f'The string has '\
          f'{len(a) } elemets')
  
print(count_characters('I love learning'))

The string has 13 elemets

In [35]:
# enumerate

def capitalize(a: str):
  upper = []
  for i, word in enumerate(a.split()):
    if word[0].islower():
      upper.append(word.capitalize())
    else:
      upper.append(word)
  return ' '.join(upper)

print(capitalize('i like learning'))

I Like Learning

In [36]:
import string

str1 = 'leArning is Hard, bUt IF you ApPly yoUrSeLf'\
        'you caN achIeve SuCcess'

upper_names = []
for word in str1.split():
  for letter in word:
    #using string module to find uppercase letters
    if letter in string.ascii_uppercase:
      upper_names.append("". join(word[::-1]))
print(upper_names)

['gninrAel', ',draH', 'tUb', 'FI', 'FI', 'ylPpA', 'ylPpA', 'uoyfLeSrUoy', 'uoyfLeSrUoy', 'uoyfLeSrUoy', 'Nac', 'eveIhca', 'ssecCuS', 'ssecCuS']

In [37]:
def make_tuples(a,b):
  a = zip(a,b)
  return list(tuple(a))

print(make_tuples([1,2,3,4], [5,6,7,8]))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [39]:
def even_or_average():
  avg_num = []
  even_number = []
  #using while loop to ensure code keeps running
  while True:
    number = input('Please enter numbers or done: ')
    avg_num.append(int(number))
    if int(number) % 2 == 0:
      even_number.append(number)
      #Once the user inputs five numbers the code breaks
    if len(avg_num) == 5:
      break
  if len(even_number) > 0:
    return (f'The largest even number: {max(even_number)}')
  else:
    return (f'the average is : {sum(avg_num) / len(avg_num):.2f}')

print(even_or_average())

Please enter numbers or done: 234
Please enter numbers or done: 456
Please enter numbers or done: 678
Please enter numbers or done: 236
Please enter numbers or done: 432
The largest even number: 678

In [44]:
def add_hash(a: str):
  return "#".join(a)
def add_underscore(a: str):
  return str(a).replace("#", "_")
def remove_underscore(a: str):
  return str(a).replace("_", "")

print(add_hash('Python'))
print(add_underscore('P_yt_h__o_n'))
print(remove_underscore('_Py_th_on'))

print(remove_underscore(add_underscore(add_hash('Python'))))

P#y#t#h#o#n
P_yt_h__o_n
Python
Python