<a href="https://colab.research.google.com/github/Amarjeet-1998/Python_101/blob/main/Untitled74.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# ask the user for the radius of a circle and then print the area
radius = float(input('print enter the circle radius: '))
pi = 3.14159
area = pi * radius ** 2
print(f"You entered {radius} the area of the circle is {area}")

print enter the circle radius: 30
You entered 30.0 the area of the circle is 2827.431

In [7]:
# convert fahrenheit to celcius
far = float(input('Please enter the temperature in farenheit:'))
cel = (far - 32) * 5/9
print(far, 'farenheit in celcius is',cel)

Please enter the temperature in farenheit:100
100.0 farenheit in celcius is 37.77777777777778

In [8]:
# obtain the sum of two integers
num_1 = int(input('print enter the first number '))
num_2 = int(input('please enter the second number '))
print('The sum of' + str(num_1) + 'and' + str(num_2) + 'is' + str(num_1 + num_2))

print enter the first number100
please enter the second number200
The sum of100and200is300

In [9]:
num_1 = int(input('Please enter the first number: '))
num_2 = int(input('Please enter the second number: '))
product = num_1 * num_2
print('The product of', num_1, 'and',num_2, 'is', product)

Please enter the first number: 12
Please enter the second number: 23
The product of 12 and 23 is 276

In [10]:
total_slices = 4 * 4
number_of_pizzas = (total_slices + 5)//6
slices_left = number_of_pizzas*6 - total_slices
print('Number of pizzas required is',number_of_pizzas,'there will be',slices_left,\
'remaining slices.')

Number of pizzas required is 3 there will be 2 remaining slices.

In [11]:
3 == 3

True

In [12]:
x = 5
y = 6
#
print('x =',x,'y =',y)
print('Checking less than with \'<\':',x < y)
print('Checking greater than with \'>\':',x > y)

x = 5 y = 6
Checking less than with '<': True
Checking greater than with '>': False

In [13]:
var_1 = 7
var_2 = 7

print('var_1 =',var_1,'var_2 = ',var_2)
print('Checking equality with \'==\':',var_1 == var_2)
print('Checking not equal with \'!=\':',var_1 != var_2)
print('Checking less than or equal with \'<=\':',var_1 <= var_2)
print('Checking greater than or equal with \'>=\':',var_1 >= var_2)

print('Demonstrate that \'True\' is Boolean in python with \
\'type(True)\':',type(True))

var_1 = 7 var_2 =  7
Checking equality with '==': True
Checking not equal with '!=': False
Checking less than or equal with '<=': True
Checking greater than or equal with '>=': True
Demonstrate that 'True' is Boolean in python with 'type(True)': <class 'bool'>

In [14]:

var_3,var_4,var_5 = 15, 20, 25
##
print('var_3 =',var_3,'var_4 =',var_4,'var_5 =',var_5, end = '\n\n')
###
print('var_4 and var_5 < 100?',var_4 < 100 and var_5 < 100 )
print('var_4 and var_5 < 22?',var_4 < 22 and var_5 < 22)
print('var_4 or var_5 < 22?',var_4 < 22 or var_5 < 22, end = '\n\n')
##
print('not True is:',not True)
print('not False is:',not False, end = '\n\n')
##
print('not(var_4 and var_5 < 100?)',not(var_4  < 100 and var_5 < 100))
print('not(var_4 and var_5 < 22?)',not(var_4 < 22 and var_5 < 22))
print('not(var_4 or var_5 < 22?)',not(var_4 < 22 or var_5 < 22))

var_3 = 15 var_4 = 20 var_5 = 25

var_4 and var_5 < 100? True
var_4 and var_5 < 22? False
var_4 or var_5 < 22? True

not True is: False
not False is: True

not(var_4 and var_5 < 100?) False
not(var_4 and var_5 < 22?) True
not(var_4 or var_5 < 22?) False

In [15]:
user_input = int(input('Please enter an integer between 1-5:> '))
if user_input == 1:
   print('one')
elif user_input == 2:
   print('two')
elif user_input == 3:
   print('three')
elif user_input == 4:
   print('four')
elif user_input == 5:
   print('five')
else:
   print('Out of range')

Please enter an integer between 1-5:> 5
five

In [16]:
'''
Question 2
Repeat the previous task but this time the user will input a string and the
code will ouput the integer value. Convert the string to lowercase first.
'''
user_input = input('Please enter an string between One and five:> ')
user_input = user_input.lower()
if user_input == 'one':
   print(1)
elif user_input == 'two':
   print(2)
elif user_input == 'three':
   print(3)
elif user_input == 'four':
   print(4)
elif user_input == 'five':
   print(5)
else:
   print('Out of range')

Please enter an string between One and five:> 4
Out of range

In [17]:
'''
Question 3
Create a variable containing an integer between 1 and 10 inclusive. Ask the
user to guess the number. If they guess too high or too low, tell them they
have not won. Tell them they win if they guess the correct number.
'''
secret_number = 3
guess = input('Guess the number between 1-10:> ')
if guess.isdigit():
   guess = int(guess)
   if guess == secret_number:
       print('You guessed the correct number! You win!')
   elif guess > secret_number and guess <= 10:
       print('You guessed too high. Sorry you lose!')
   elif guess < secret_number and guess >= 1:
       print('You guessed too low. Sorry you lose!')
   else:
       print('Out of range')
else:
   print('That\'s not even an integer! What are you playing at?!')

Guess the number between 1-10:> 4
You guessed too high. Sorry you lose!

In [18]:
'''
Question 4
Ask the user to input their name. Check the length of the name. If it is
greater than 5 characters long, write a message telling them how many characters
otherwise write a message saying the length of their name is a secret
'''
name = input('Please enter your name:>')
name_len = len(name)
if name_len > 5:
   print('Your name contains',name_len,'characters.')
else:
   print('I\'m not telling you the length of your name.')

Please enter your name:>4
I'm not telling you the length of your name.

In [19]:
'''
Question 5
Ask the user for two integers between 1 and 20. If they are both greater than
15 return their product. If only one is greater than 15 return their sum, if
neither are greater than 15 return zero
'''
int_1 = int(input('Please enter an integer between 1-20:> '))
int_2 = int(input('Please enter another integer between 1-20:> '))

if int_1 > 15 and int_2 > 15:
   print(int_1 * int_2)
elif int_1 > 15 or int_2 > 15:
   print(int_1 + int_2)
else:
   print(0)

Please enter an integer between 1-20:> 4
Please enter another integer between 1-20:> 3
0

In [20]:
'''
Question 6
Ask the user for two integers, then swap the contents of the variables. So if
var_1 = 1 and var_2 = 2 initially, once the code has run var_1 should equal 2
and var_2 should equal 1.
'''
int_1 = int(input('Please enter first integer:> '))
int_2 = int(input('Please enter second integer:> '))
print('Before swapping int_1 =',int_1,'and int_2 =',int_2)
int_1,int_2 = int_2,int_1
print('After swapping int_1 =', int_1,'and int_2 = ',int_2)

Please enter first integer:> 32
Please enter second integer:> 23
Before swapping int_1 = 32 and int_2 = 23
After swapping int_1 = 23 and int_2 =  32

In [21]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [23]:
for i in range(1,10):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9

In [24]:
for i in range(0,101,4):
  print(i,end=' ')

0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100

In [26]:
word = 'python'

In [27]:
for char in word:
   print(char)

p
y
t
h
o
n

In [28]:

data = [53,76,25,98,56,42,69,81]

data_1 = []

data[0]

data[2]

data[5]

data[-1]

data[0:5]

[53, 76, 25, 98, 56]

In [29]:
for num in data:
   print(num,end=' ')
   
print()
# Sum conents of list
total = 0
for num in data: 
   total = total + num
print('The sum of \'data\' is:',total)

53 76 25 98 56 42 69 81
The sum of 'data' is: 500

In [ ]:
find_max = 0
for num in data:
   if num > find_max:
       find_max = num
print('Max value is',find_max)  

print('Max value using Python function \'max()\'',max(data))

In [1]:
my_list = [1,11,21,31,41,51]
for i in range(5):
   print(my_list[i])
   print(my_list[i+1])
   print()

1
11

11
21

21
31

31
41

41
51

In [3]:
# Bubble sort
data = [53,76,25,98,56,42,69,81]
data_copy = data[:]
for i in range(len(data_copy)):
   for j in range(0,len(data_copy)-i-1):
       if data_copy[j] > data_copy[j+1]:
           data_copy[j],data_copy[j+1] = data_copy[j+1],data_copy[j]

SyntaxError: ignored

In [ ]:
#my_list_1 = [1,2,3,4]
#my_list_2 = ['a','b','c','d']
#
#joined = list(zip(my_list_1,my_list_2))
#print(f'The result of the zip function is {joined} it is of type {type(joined)}')
#
#i,j = zip(*joined)

#print(capitals.items())
#print()
#x,y = zip(*capitals.items())


#new_words = sherlock.split(' ')
#
#print(new_words)
#
#'Sherlock' in new_words

#for i in range(len(new_words)):
#    new_words[i] = new_words[i].strip('\n')
##    
#print(new_words)

### Tuples

#my_tuple = (1,2,3,4)
#my_list = [5,6,7,8]
#my_string = 'Australia'
#
#my_tuple[0]
#my_tuple[:3]
#
#my_list[0] = 1000
#my_tuple[0] = 2000
#my_string[4] = 'q'
#
### Summary
#
## Lists are mutable
## Dictionaries are mutable
## Tuples are immutable
## Strings are immutable


### Another Dimension

#my_list = [[1,2,3],[4,5,6],[7,8,9]]

#my_list[0]
#my_list[1]
#my_list[2]
#
#my_list[1][1]


#countries = {'France':{'Capital':'Paris','Language':'French'},'Spain':{'Capital':'Madrid','Language':'Spanish'},
#             'United Kingdom':{'Capital':'London','Language':'English'},
#            'United States':{'Capital':'Washington DC','Language':'English'},
#            'Italy':{'Capital':'Rome','Language':'Italian'}
#            }
##
##
##countries['France']
##
#for key, value in countries.items():
#    print(key,value) 
#
#print()
#for key, value in countries.items():
#    print(f'{value["Capital"]} is the capital of {key}, they speak {value["Language"]}.')


from collections import Counter

print(Counter(sherlock.lower()))

new_dict = dict(Counter(sherlock.lower()))
#
new_dict = {k:v for k,v in new_dict.items() if k.isalpha()}
#
print(new_dict)

L = [x**2 for x in range(1,11)]

M = []
for x in range(1,11):
    M.append(x**2)

In [6]:
'''
Question 1
Ask the user for two numbers between 1 and 100. Then count from the 
lower number to the higher number. Print the results to the screen.
'''
num_1 = int(input('Please enter a number between 1-100:> '))
num_2 = int(input('Please enter a number between 1-100:> '))

while num_1 < 0 or num_2 < 0 or num_1 > 100 or num_2 > 100 or num_1 == num_2:
   print('Numbers must be different values between 1 and 100, try again')
   num_1 = int(input('Please enter a number between 1-100:> '))
   num_2 = int(input('Please enter a number between 1-100:> '))
   
if num_1 < num_2:
   for i in range(num_1,num_2+1):
       print(i,end=' ')
else:
   for i in range(num_2,num_1+1):
       print(i,end=' ')

Please enter a number between 1-100:> 1233
Please enter a number between 1-100:> 2344
Numbers must be different values between 1 and 100, try again
Please enter a number between 1-100:> 24
Please enter a number between 1-100:> 13
13 14 15 16 17 18 19 20 21 22 23 24

In [7]:
'''
Question 2
Ask the user to input a string and then print it out to the screen in
reverse order (use a for loop).
'''
word = input('please enter a word: > ')

reverse_string = ''
for char in word:
  reverse_string = char + reverse_string

print(word[::-1])

please enter a word: > 12
21

In [8]:
'''
Question 3
Ask the user for a number between 1 and 12 and then display a times
table for that number.
'''
user_input = input('Please enter a number between 1 and 12:> ')

while (not user_input.isdigit()) or (int(user_input) < 1 or int(user_input) > 12):
  print('Must be an integer between 1 and 12')
  user_input = input('Please make selection:> ' )
user_input = int(user_input)
print('======================================')
print()
print(f'This is the {user_input} times table')
print()
for i in range(1,13):
  print(f'{i} x {user_input} = {i * user_input}')

Please enter a number between 1 and 12:> 8
======================================

This is the 8 times table

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
11 x 8 = 88
12 x 8 = 96

In [9]:
'''
Question 4
Can you amend the solution to question 3 so that it just prints out all
times tables between 1 and 12? (no  need to ask user for input)
'''
#for i in range(1,13):
#    print('===============================')
#    print()
#    print(f'This is the {i} times table')
#    print()
#    for j in range(1,13):
#        print(f'{j} x {i} = {j*i}')

'\nQuestion 4\nCan you amend the solution to question 3 so that it just prints out all\ntimes tables between 1 and 12? (no  need to ask user for input)\n'

In [10]:
'''
Question 5
Ask the user to input a sequence of numbers. Then calculate the mean
and print the result
'''

user_input = input('please enter a number type exit to stop:> ')
numbers = []
while user_input.lower() != 'exit':
  while not user_input.isdigit():
    print('That is not a number! Numbers only please:> ')
    user_input = input('Try again:> ')
  numbers.append(int(user_input))
  user_input = input('Please enter next number:> ')

total = 0
for number in numbers:
  total += number

print(f'Mean is {total/len(numbers)}')
print(sum(numbers)/len(numbers))

please enter a number type exit to stop:> 12
Please enter next number:> 23
Please enter next number:> 34
Please enter next number:> 12
Please enter next number:> 12
Please enter next number:> 43
Please enter next number:> 23
Please enter next number:> word
That is not a number! Numbers only please:>
Try again:>
That is not a number! Numbers only please:>
Try again:> ad
That is not a number! Numbers only please:>
Try again:> 13
Please enter next number:> 334
Please enter next number:> 13
Please enter next number:> 13131
Please enter next number:> 133232
Please enter next number:> 22
Please enter next number:> 131
Please enter next number:> 32
Please enter next number:> 232
Please enter next number:> ss
That is not a number! Numbers only please:>
Try again:> FGG
That is not a number! Numbers only please:>
Try again:> exit
That is not a number! Numbers only please:>
Try again:> exit
That is not a number! Numbers only please:>
Try again:> stop
That is not a number! Numbers only please:>
Try again:> 'exit'
That is not a number! Numbers only please:>
Try again:> 2 exit
That is not a number! Numbers only please:>
Try again:> exit
That is not a number! Numbers only please:>
Try again:> skdjksjkdjkdj;d
That is not a number! Numbers only please:>
Try again:> s
That is not a number! Numbers only please:>
Try again:> 1
Please enter next number:> 1
Please enter next number:> 1
Please enter next number:> 2
Please enter next number:> 2
Please enter next number:> 3

KeyboardInterrupt: ignored

In [13]:
'''
Question 6
Write code that will calculate 15 factorial. (factorial is product of 
positive ints up to a given number. e.g 5 factorial is 5x4x3x2x1)
'''

n = 15
fact = 1
for i in range(1,n+1):
   fact = fact * i
   
print(fact)   
#Can you modify the code to ask user for input first?

1307674368000

In [14]:
'''
Question 7
Write code to calculate Fibonacci numbers. Create list containing 
first 20 Fibonacci numbers, (Fib  numbers made by sum of preceeding
two. Series starts 0 1 1 2 3 5 8 13 ....)
'''

## Number of fib numbers required
n = 20

# Set a and b to the first two numbers in the sequence
a = 0
b = 1 

# List in which to store numbers
fib_nums = []

# Use a for loop to create the sequence, repeat n times
for i in range(n):
   fib_nums.append(a)
   a,b = b,a+b     
   
print(f'The first {n} Fibonacci numbers are, {fib_nums}')

The first 20 Fibonacci numbers are, [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [15]:
'''
Question 8
The previous question was the first to contain comments. Go back 
through the other questions in this file and add comments to the 
solutions.
'''

'''
Question 9

     *****
     *
     **** 
     *
     *
     *
Can you draw this using python? (comment the solution code)
'''

star = '*'

for i in range(1,7):
   for j in range(1,6):
       if i == 1 and j < 6:
           print(star,end='')
       elif i == 2 and j == 1:
           print()
           print(star)
       elif i == 3 and j < 5:
           print(star,end='')
       elif i == 4 and j == 1:
           print()
           print(star)  
       elif i == 5 and j == 1:
           print(star)
       elif i == 6 and j == 1:
           print(star)

*****
*
****
*
*
*

In [16]:
'''
Question 10
Write some code that will determine all odd and even numbers
between 1 and 100. Put the odds in a list named odd and the evens
in a list named even.
'''

# Number required
n = 100

# instantiate empty lists
evens = []
odds = []

for i in range(n+1):
  if not i % 2:
    evens.append(i)
  else:
    odds.append(i)

print(f'The evens are {evens}')
print(f'The odds are {odds}')

The evens are [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
The odds are [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [1]:
import math
print(math.pi)

3.141592653589793

In [2]:
print(math.cos(0))

1.0

In [4]:
import random

In [10]:
## Dictionaries

capitals = {'France':'Paris','Spain':'Madrid','United Kingdom':'London',
            'India':'New Delhi','United States':'Washington DC','Italy':'Rome',
            'Denmark':'Copenhagen','Germany':'Berlin','Greece':'Athens',
            'Bulgaria':'Sofia','Ireland':'Dublin','Mexico':'Mexico City'
            }

#capitals['Germany']
#capitals.get('Germany')
#
#capitals['South Korea'] = 'Seoul'
#
#print(capitals)
#
#capitals.items()
#print()
#
#print(capitals.items())
#
for country in capitals:
  print(country)
###    
#for country, city in capitals.items():
#    print(f'The capital of {country}, is {city}')    
#    
#print()

France
Spain
United Kingdom
India
United States
Italy
Denmark
Germany
Greece
Bulgaria
Ireland
Mexico

In [11]:
#print(capitals.keys())
##
#print()
#print(capitals.values())
#
#
#if 'France' in capitals:
#    print('It contains France')
#        
#L = [1,2,3,4,5]
#
#print(7 in L)

sherlock = '''
Mr. Sherlock Holmes, who was usually very late in the mornings, save upon those not infrequent occasions when he was up all night, was seated at the breakfast table. I stood upon the hearth-rug and picked up the stick which our visitor had left behind him the night before. It was a fine, thick piece of wood, bulbous-headed, of the sort which is known as a “Penang lawyer.” Just under the head was a broad silver band nearly an inch across. “To James Mortimer, M.R.C.S., from his friends of the C.C.H.,” was engraved upon it, with the date “1884.” It was just such a stick as the old-fashioned family practitioner used to carry—dignified, solid, and reassuring.

“Well, Watson, what do you make of it?”

Holmes was sitting with his back to me, and I had given him no sign of my occupation.

“How did you know what I was doing? I believe you have eyes in the back of your head.”

“I have, at least, a well-polished, silver-plated coffee-pot in front of me,” said he. “But, tell me, Watson, what do you make of our visitor’s stick? Since we have been so unfortunate as to miss him and have no notion of his errand, this accidental souvenir becomes of importance. Let me hear you reconstruct the man by an examination of it.”

“I think,” said I, following as far as I could the methods of my companion, “that Dr. Mortimer is a successful, elderly medical man, well-esteemed since those who know him give him this mark of their appreciation.”

“Good!” said Holmes. “Excellent!”

“I think also that the probability is in favour of his being a country practitioner who does a great deal of his visiting on foot.”

“Why so?”

“Because this stick, though originally a very handsome one has been so knocked about that I can hardly imagine a town practitioner carrying it. The thick-iron ferrule is worn down, so it is evident that he has done a great amount of walking with it.”

“Perfectly sound!” said Holmes.

“And then again, there is the ‘friends of the C.C.H.’ I should guess that to be the Something Hunt, the local hunt to whose members he has possibly given some surgical assistance, and which has made him a small presentation in return.”

“Really, Watson, you excel yourself,” said Holmes, pushing back his chair and lighting a cigarette. “I am bound to say that in all the accounts which you have been so good as to give of my own small achievements you have habitually underrated your own abilities. It may be that you are not yourself luminous, but you are a conductor of light. Some people without possessing genius have a remarkable power of stimulating it. I confess, my dear fellow, that I am very much in your debt.”

He had never said as much before, and I must admit that his words gave me keen pleasure, for I had often been piqued by his indifference to my admiration and to the attempts which I had made to give publicity to his methods. I was proud, too, to think that I had so far mastered his system as to apply it in a way which earned his approval. He now took the stick from my hands and examined it for a few minutes with his naked eyes. Then with an expression of interest he laid down his cigarette, and carrying the cane to the window, he looked over it again with a convex lens.
'''

#letter_count = {}
#for letter in sherlock:
#    letter_count[letter.lower()] = letter_count.get(letter,0) + 1
#
#
##    
#print(letter_count)    
##    
#import matplotlib.pyplot as plt
##
#
#
#x,y = zip(*letter_count.items())
##
#plt.bar(x,y)
#plt.show()
##
#letter_count_clean = {}
#
#for k,v in letter_count.items():
#    if k.isalpha():
#        letter_count_clean[k] = v
#        
#print(letter_count_clean)     
#
#x,y = zip(*letter_count_clean.items())
#
#plt.bar(x,y) 
#plt.show()   
#
#
#
#my_list_1 = [1,2,3,4]
#my_list_2 = ['a','b','c','d']
#
#joined = list(zip(my_list_1,my_list_2))
#print(f'The result of the zip function is {joined} it is of type {type(joined)}')
#
#i,j = zip(*joined)

#print(capitals.items())
#print()
#x,y = zip(*capitals.items())


#new_words = sherlock.split(' ')
#
#print(new_words)
#
#'Sherlock' in new_words

#for i in range(len(new_words)):
#    new_words[i] = new_words[i].strip('\n')
##    
#print(new_words)

### Tuples

#my_tuple = (1,2,3,4)
#my_list = [5,6,7,8]
#my_string = 'Australia'
#
#my_tuple[0]
#my_tuple[:3]
#
#my_list[0] = 1000
#my_tuple[0] = 2000
#my_string[4] = 'q'
#
### Summary
#
## Lists are mutable
## Dictionaries are mutable
## Tuples are immutable
## Strings are immutable


### Another Dimension

#my_list = [[1,2,3],[4,5,6],[7,8,9]]

#my_list[0]
#my_list[1]
#my_list[2]
#
#my_list[1][1]


#countries = {'France':{'Capital':'Paris','Language':'French'},'Spain':{'Capital':'Madrid','Language':'Spanish'},
#             'United Kingdom':{'Capital':'London','Language':'English'},
#            'United States':{'Capital':'Washington DC','Language':'English'},
#            'Italy':{'Capital':'Rome','Language':'Italian'}
#            }
##
##
##countries['France']
##
#for key, value in countries.items():
#    print(key,value) 
#
#print()
#for key, value in countries.items():
#    print(f'{value["Capital"]} is the capital of {key}, they speak {value["Language"]}.')

In [12]:
from collections import Counter

print(Counter(sherlock.lower()))

new_dict = dict(Counter(sherlock.lower()))

new_dict = {k:v for k,v in new_dict.items() if k.isalpha()}

print(new_dict)

L = [x**2 for x in range(1,11)]

M =[]
for x in range(1,11):
  M.append(x**2)

Counter({' ': 569, 'e': 257, 'a': 213, 'i': 211, 't': 206, 'o': 199, 's': 172, 'h': 161, 'n': 160, 'r': 114, 'd': 96, 'l': 87, 'c': 77, 'u': 77, 'm': 76, 'w': 61, 'f': 56, 'y': 51, ',': 46, 'g': 44, '.': 39, 'p': 38, 'b': 37, 'v': 32, 'k': 30, '\n': 28, '“': 18, '”': 18, '-': 8, 'x': 6, '?': 4, 'j': 3, '!': 3, 'q': 2, '8': 2, '’': 2, '1': 1, '4': 1, '—': 1, '‘': 1})
{'m': 76, 'r': 114, 's': 172, 'h': 161, 'e': 257, 'l': 87, 'o': 199, 'c': 77, 'k': 30, 'w': 61, 'a': 213, 'u': 77, 'y': 51, 'v': 32, 't': 206, 'i': 211, 'n': 160, 'g': 44, 'p': 38, 'f': 56, 'q': 2, 'd': 96, 'b': 37, 'j': 3, 'x': 6}